<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <%= erb :"partials/header" %>
    <center>
      <h3>Cupcakes starting at $1.50</h3>
    <center>
    <div class="full-contain">
    <div class="img-contain">
      <h2><%= @cupcake1.type %></h2>
      <img class="img-adjust" style="height:400px" src='<%= @cupcake1.image %>' alt="">
    </div>
    <p class="ptext">3 cookies for $<%= @cupcake1.price %>0</p>
    <p class="ptext"> Come get y'all (cup)cake! These are our hottest sellers (for cupcakes)! </p>
    </div>
    <div class="full-contain">
    <div class="img-contain">
      <h2><%= @cupcake2.type %></h2>
      <img class="img-adjust" style="height:400px" src='<%= @cupcake2.image %>' alt="">
    </div>
    <p class="ptext">3 cupcakes for $<%= @cupcake2.price %>0</p>
    <p class="ptext">A special treat for those of you with expensive taste buds and buds.</p>
    </div>
    <div class="full-contain">
    <div class="img-contain">
      <h2><%= @cupcake3.type %></h2>
      <img class="img-adjust" style="height:400px" src='<%= @cupcake3.image %>' alt="">
    </div>
    <p class="ptext">3 cupcakes for $<%= @cupcake3.price %>0</p>
    <p class="ptext">If you don't like chocolate then we can't be friends. But if you like caffeine I'll reconsider.</p>
    </div>
    <%= erb :"partials/footer" %>
  </body>
</html>
